# Ignore everything
*

# Allow .config directory itself (required for nested un-ignores to work)
!.config/

# Except these folders
!.config/wezterm/
!.config/wezterm/**
!.config/nvim/
!.config/nvim/**
!.config/opencode/
!.config/opencode/**
!.config/karabiner/
!.config/karabiner/**

# Keep .gitignore itself
!.gitignore

# Ignore subfolders
__pycache__